/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/theming'; */

/* @include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$poll-app-primary: mat-palette($mat-indigo);
$poll-app-accent:  mat-palette($mat-pink, A200, A100, A400);

$poll-app-warn:    mat-palette($mat-red);

$poll-app-theme: mat-dark-theme($poll-app-primary, $poll-app-accent, $poll-app-warn);
@include angular-material-theme($poll-app-theme); */



html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }


